<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="keywords" content="manage, money, profit" />
        <meta name="description" content="Manage Your Finances" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
    </head>
    <body>
        <h1>Dashboard - {{ month }}/{{ year }}</h1>
        <h2>Transaction Ratio</h2>
        <p>Income %: {{ income_ratio }}%</p>
        <p>Expense %: {{ expense_ratio }}%</p>
        <h2>Transactions</h2>
        <h3>Income</h3>
        <ul>
            {% for transaction in income_transactions %}
                <li>{{ transaction.date }} - {{ transaction.amount }} - {{ transaction.category }}</li>
            {% endfor %}
        </ul>
        <h3>Expense</h3>
        <ul>
            {% for transaction in expense_transactions %}
                <li>{{ transaction.date }} - {{ transaction.amount }} - {{ transaction.category }}</li>
            {% endfor %}
        </ul>
        <h2>Total Balance from Accounts</h2>
        <ul>
            {% for account in accounts %}<li>{{ account.account_name }}: {{ account.balance }}</li>{% endfor %}
        </ul>
        <h3>Total Balance: {{ total_balance }}</h3>
    </body>
</html>
