{% extends "home/layout.html" %}
{% block title %}
  Home
{% endblock title %}
{% block body %}
  <style>
    body {
      font-family: "Chakra Petch", sans-serif;
      background: linear-gradient(135deg, #c9f9ff, #87ceeb);
      min-height: 100vh;
    }
    .balance-box {
      background: white;
      padding: 35px;
      border-radius: 16px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.1);
      text-align: center;
      max-width: 420px;
    }
  </style>
  <!-- Content -->
  <div class="d-flex flex-column align-items-center justify-content-center"
       style="height:80vh">
    <h1 class="mb-4">Welcome back! {{ request.user.username }}👋</h1>
  </div>
{% endblock body %}
