{% extends "home/layout.html" %}
{% block title %}
    Stats
{% endblock title %}
{% block body %}
    <!-- Content -->
    <div class="app-container">
        <!-- side bar -->
        <aside class="sidebar">
            <div class="sidebar-header">
                <div class="profile-icon"></div>
            </div>
            <nav class="sidebar-nav">
                <ul>
                    <li>
                        <a href="{% url 'home' request.user.id %}">HOME</a>
                    </li>
                    <li>
                        <a href="{% url 'dashboard' request.user.id %}">Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'transaction_income' request.user.id %}">Transaction</a>
                    </li>
                    <li class="active">
                        <a href="{% url 'stats' request.user.id %}">Stats</a>
                    </li>
                    <li>
                        <a href="{% url 'settings' request.user.id %}">Settings</a>
                    </li>
                </ul>
            </nav>
            <div class="sidebar-footer">
                <div class="logout-icon"></div>
            </div>
        </aside>
        <!-- Hello and initial brief about financial -->
        <main class="main-content">
            <div class="form-container">
                <div class="d-flex flex-column align-items-center justify-content-center"
                     style="height:80vh">
                    <h1 class="mb-4">This is stats page</h1>
                </div>
            </div>
        </main>
    </div>
    <!-- Contact and other -->
    <footer class="footer">
        <div class="footer-social">
            <span><a href="{% url 'contact' %}">Contact Us</span>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-line"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="far fa-envelope"></i></a>
        </div>
        <div class="footer-links">
            <a href="#">Term of Use</a>
            <a href="#">Privacy Policy</a>
        </div>
    </footer>
{% endblock body %}
